.home {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    gap: 10px;

    & &__user {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
