.button {
    $self: &;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    // resizing
    &--resizing-hug {
        display: inline-flex;
    }
    &--resizing-fill {
        display: flex;
        width: 100%;
    }

    // size
    &--size-extra-large {
        padding: 13px 21px;
    }
    &--size-large {
        padding: 9px 15px;
    }

    &--size-medium {
        padding: 5px 11px;
    }

    &--size-small {
        padding: 4px 7px;
    }

    // variant
    &--variant-base {
        padding: 0;
        border: none;

        &#{$self}--disabled {
            color: color(grayscale, 500);
        }
    }

    &--variant-text {
        border-color: transparent;

        &#{$self}--disabled {
            color: color(grayscale, 500);
        }
    }

    &--variant-primary {
        border-color: color(primary);
        background-color: color(primary);
        color: color(on-primary);

        &#{$self}--disabled {
            border-color: color(grayscale, 200);
            background-color: color(grayscale, 200);
            color: color(grayscale, 500);
        }
    }

    &--variant-secondary {
        border-color: color(grayscale, 200);
        background-color: color(grayscale, 50);
        color: color(text);

        &#{$self}--disabled {
            color: color(grayscale, 500);
        }
    }

    &--variant-outline {
        border-color: color(grayscale, 300);
        background-color: color(background);
        color: color(text);

        &#{$self}--disabled {
            color: color(grayscale, 500);
        }
    }

    // radius
    &--radius-square {
        border-radius: 0;
    }

    &--radius-rounded {
        border-radius: 6px;
    }

    &--radius-capsule {
        border-radius: 32px;
    }

    &--radius-circle {
        border-radius: 50%;
    }
}
