.input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__input {
        display: block;
        padding: 8px;
        border: 1px solid color(grayscale, 200);
        border-radius: 8px;
    }
}
